/* body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  margin: 0;
}

#form {
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.15);
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  height: 3rem;
  left: 0;
  padding: 0.25rem;
  position: fixed;
  right: 0;
}

#message-input {
  border: none;
  border-radius: 2rem;
  flex-grow: 1;
  margin: 0.25rem;
  padding: 0 1rem;
}

#message-input:focus {
  outline: none;
}

#form>button {
  background: #333;
  border: none;
  border-radius: 3px;
  color: #fff;
  margin: 0.25rem;
  outline: none;
  padding: 0 1rem;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages>li {
  padding: 0.5rem 1rem;
}

#messages>li:nth-child(odd) {
  background: #efefef;
}

.typing {
  bottom: 3rem;
  font-size: 11px;
  font-style: italic;
  height: 3rem;
  left: 1rem;
  position: fixed;
  width: 100%;
  z-index: 9999;
} */

.paper-clip {
  width: 20px;
  height: 20px;
}
.icon {
  height: 20px;
  width: 40px;
}

.emoji-mart-preview {
  display: none;
}
