.form {
  width: 40%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 50%;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

form.registration {
  width: 90vw;
  height: 90vh;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

form.registration h1 {
  margin: 0 0 10px 0;
  letter-spacing: 3px;
}

form.registration .username {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

form.registration input {
  width: 100%;
  outline: none;
  padding: 7px 14px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
}

form.registration button.submit {
  width: 300px;
  height: 33px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #79cbca;
  background-color: #79cbca;
  color: white;
}

form.registration button.submit:disabled {
  cursor: not-allowed;
  background-color: #e7e7e7;
  border-color: #e7e7e7;
}

form.registration .input-group {
  width: 100%;
  position: relative;
}

form.registration .input-group button {
  position: absolute;
}
